
/*BEGIN Xbox One Controller Styling*/
.controller.custom {
    background: url(https://imgur.com/VmOZxNZ.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
/*END Xbox One Controller Styling*/
